.container {
    margin: 100px;
    margin-left: 300px;
  }
.first {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px dashed tomato;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.second {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    animation-name: enlarge;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.third {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: midnightblue;
    animation-name: jumping;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes spin {
    from {
        transform: rotate3d(0, 0, 0, 0);
      }
      to {
        transform: rotate3d(1, 1, 0, 360deg);
      }
}
@keyframes enlarge {
      0% {
         transform: scale(1);
     }
     50% {
         transform: scale(1.2);
     }
     100% {
         transform: scale(1);
     }
}
@keyframes jumping {
     0% {
         transform: translateX(0);
     }
     50% {
         transform: translateX(70%);
     }
     100% {
         transform: translateX(0);
     }
}